/LaTex_Project/build
LaTex_Project/compile.sh
03 - Weighting/criterion_weights_*.csv
/01 - Attributes Definition/Electricity Data/Total Loads/BZN|IT-North_load_histogram_2024.png
__pycache__/
01 - Attributes Definition/.~lock.Attributes_Draft.ods\#

